<footer>
  <ul class="contact h-card">
    <li>
      <h1><a href="{{ $.Site.BaseURL }}" class="p-name u-url" rel="me">Tobias Mansfield-Williams</a></h1>
    </li>
    <li>
      <a href="mailto:contact@tmwhere.com" class="u-email" rel="me">contact@tmwhere.com</a>
    </li>
    <li>
      <a href="https://github.com/t-mw" class="u-url" rel="me">github</a>
    </li>
    <li>
      <a href="https://last.fm/user/teigrad" class="u-url" rel="me">last.fm</a>
    </li>
    <li>
      <a href="{{ $.Site.BaseURL }}bookmarks">bookmarks</a>
    </li>
  </ul>
</footer>
{{ range .Params.js -}}
<script src="{{ $.Site.BaseURL }}js/{{ . }}.js"></script>
{{ end -}}
